html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #143642;
}

body {
  margin: 0;
}

table {
  text-align: center;
  width: 100%;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

td {
  padding: 2px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

.content {
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  width: 40%;
  background-color: #F8F7F9;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
  padding-top: 2px;
  padding-bottom: 2px;
}

.button {
  padding: 5px 5px;
  font-size: 20px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #0f8b8d;
  border: solid 8px #0f8b8d;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 90%;
}

.button:active {
  background-color: #0f8b8d;
  box-shadow: 2 2px #CDCDCD;
  transform: translateY(2px);
}

.button.last {
  border: solid 8px  #cf2700;
}

.button .off {
  display: block;
}

.button .on {
  display: none;
}

.button.on .on {
  display: block;
  border: solid 8px  #cf2700;
}

.button.on .off {
  display: none;
}

.button.on {
  background-color: #cf2700; 
}

.button:disabled
{
  color: #808080;
  background-color: #094647;
}

.button.on:disabled
{
  color: #808080;
  background-color: #6e1400;
}
